---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Finner ikke siden</h1>

  <p>Vi har ikke noen side med det navnet du prøvde å finne.</p>

  <a href="/">Tilbake til forsiden</a>
</BaseLayout>
