---
import BaseLayout from "../layouts/BaseLayout.astro";

let user = Astro.locals.user;

if (!user) {
  return Astro.redirect("/404");
}

const { name, email, alternativeEmail, year, degreeId } = user;
---

<BaseLayout>
  <h1>Profil for {name}</h1>

  <p><strong>E-post:</strong> {email}</p>
  <p>
    <strong>Alternativ E-post:</strong>
    {alternativeEmail ?? "Ikke oppgitt"}
  </p>
  <p><strong>År:</strong> {year ?? "Ikke oppgitt"}</p>
  <p><strong>Studieretning:</strong> {degreeId ?? "Ikke oppgitt"}</p>
</BaseLayout>
