---
const { user } = Astro.locals;
---

<div>
  <nav>
    <a href="/">Hjem</a>

    <a href="/arrangementer">Arrangementer</a>

    <a href="/for-studenter">For studenter</a>

    <a href="/for-bedrifter">For bedrifter</a>

    <a href="/om">Om oss</a>

    {user && <a href="/profil">Profil</a>}

    {
      user && (
        <a id="sign-out" href="/auth/sign-out">
          Logg ut, {user.name}
        </a>
      )
    }

    {
      !user && (
        <a id="sign-in" href="/auth/feide">
          Logg inn
        </a>
      )
    }
  </nav>
</div>

<script>
  const currentUrl = new URL(window.location.href);
  const redirectTo = currentUrl.pathname + currentUrl.search + currentUrl.hash;

  const $signIn = document.getElementById("sign-in");
  const $signOut = document.getElementById("sign-out");

  $signIn?.setAttribute("href", `/auth/feide?redirectTo=${redirectTo}`);
  $signOut?.setAttribute("href", `/auth/sign-out?redirectTo=${redirectTo}`);
</script>

<style>
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
