---
import { getRegistrations } from "../data/db/registrations";
import { getSpotRanges } from "../data/sanity/spot-ranges";

const { id } = Astro.params;

if (!id) {
  throw new Error("Missing id");
}

const spotRanges = await getSpotRanges(id);
const registrations = await getRegistrations(id);

const registered = registrations.filter(
  (r) => r.status === "registered"
).length;
---

{
  spotRanges && spotRanges.maxSpots > 0 && (
    <p>
      {registered} / {spotRanges.maxSpots} plasseringer registrert
    </p>
  )
}
