---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
---

<html lang="no" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>echo - Linjeforeningen for informatikk</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
  }

  body {
    font-family: system-ui, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
</style>
